<%= render "shared/header"%> 
  <div class="main">
    <div class="side"> 
      <div class="side_list">
        <b>Member</b>
        <% @user.each do |user|%>
          <li class='name_list'>
            <%=user.name%>
          </li>
        <%end%>
      </div>

    </div>
    <div class="chat_space">
      <div class="chat">
        <% if user_signed_in?%> 
        <% @messages.each do |messages|%>
          <%if messages.user_id == current_user.id%>
          <%# 自身のメッセ %>
            <div class='c_chat_cohesive'>
              <div class="chat_cohesive_inside">
                <div class="chat_top">
                  <div class="chat_name">
                  <%=messages.user.name%>
                  </div>
                  <div class="chat_time">
                  <%=messages.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
                  </div>
                </div>
                <div class="c_chat_botom">
                <%=messages.content %>
                </div>
              </div>
            </div>
          <%else%>
          <%# 自分以外のメッセ %>
            <div class='chat_cohesive'>
              <div class="chat_cohesive_inside">
                <div class="chat_top">
                  <div class="chat_name">
                  <%=messages.user.name%>
                  </div>
                  <div class="chat_time">
                  <%=messages.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
                  </div>
                </div>
                
                <div class="chat_botom">
                <%=messages.content%>
                </div>
              </div> 
            </div> 
          <%end%>
        <%end%> 
        <%end%>
      </div>
    </div>
  </div>
<%# <%= render "shared/footer1"%>  
<%# <%= render partial: "shared/footer1", locals: { message: @message }%> 
  <div class="footer">
    <div>
    </div>
    <h1>フッター１</h1>
    <div class="footer-form">
      <%= form_with model: @message, url: messages_path, class: 'message-form', local: true do |f| %>
        <div>
        <%= f.text_area :content, class:"text-form", id:"text-form", placeholder:"text（1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
        </div>
        <div>
        <%= f.submit "送信" ,class:"message-btn" %>
        </div>
      <%end%>
    </div>
  </div>