<%= render "shared/header"%>
  <div class="labor_ti">出勤登録　<実装中バリデーション></div>
  <div class="labor_main">
    <%=form_with model: @labor, url: labors_path, local: true do |f|%>
      <h2>日付</h2>
      <div class="dayf">
        <%= f.date_field :work_day, class:"calendar" %>
      </div>
      <h2>時間</h2>
      <div class="time">
        <div>
          <%= f.collection_select(:start_time_id, WTime.all, :id, :name, {}, {class:"select-box", id:""}) %>
        </div>
          <h3>　〜　</h3> 
        <div>
          <%= f.collection_select(:closing_time_id, WTime.all, :id, :name, {}, {class:"select-box", id:""}) %>
        </div>
      </div>
      <h2>memo</h2>
      <div>
          <%= f.text_area :comment, class:"comment", id:"comment", placeholder:"comment" ,rows:"5" ,maxlength:"200" %>
      </div>
      <div>
        <%= f.submit "登録する" , class:"btn" %>
      </div>
    <%end%>
  </div>
<%= render "shared/footer2"%> 

      <%# <div class='input-day-wrap'> %>
        <%# <%= raw sprintf(
                    f.date_select(
                      :work_day,
                      class:'select-work_dayh',
                      id:"work_day-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 2020,
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %> 
      <%# <lavel>
        <input type="date" />
      </label> %>